@import "./variables.less";
@import "~highlight.js/styles/github.css";

// 字体
@font-face {
  font-family: 'MarkerScratch-Regular';
  src: url('assets/fonts/MarkerScratch-Regular-2.ttf') format('truetype');
}

@font-face {
  font-family: 'Pudding';
  src: url('assets/fonts/Pudding.ttf') format('truetype');
}

* {
  scroll-behavior: smooth;
}

// reset
html, body {
  padding: 0;
  margin: 0;
  background: #efefef;
}

html {
  margin: 0 0 40px;
}

a {
  color: @colorPrimary;
}

.card {
  padding: 16px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: @borderRadius;
}

.markdown-container {
  pre {
    overflow: auto;
    padding: 16px;
    background: #f7f7f7;
  }

  code {
    background: #f7f7f7;
  }

  blockquote {
    margin: 16px 0;
    padding: 12px;
    background: #f7f7f7;
  }

  p, li{
    color: #555;
    font-size: 14px;
    line-height: 24px;
  }
}

.tag {
  color: #ffa323;
  margin-left: 12px;
  padding: 0 3px;
  background: #f8f8f8;
}

#comment-wrap {
  .gt-container {
    .gt-meta {
      .gt-counts {
        .gt-link-counts {
          color: @colorPrimary;
          border-bottom-color: @colorPrimary;
        }
      }
      .gt-popup {
        .gt-action {
          color: @colorPrimary;

          &.is--active {
            color: #333;
          }

          &.is--active:before {
            background-color: @colorPrimary;
          }
        }

        .gt-copyright .gt-link-project {
          color: @colorPrimary;
          border-bottom-color: @colorPrimary;
        }
      }
    }

    .gt-header {
      .gt-header-comment {
        .gt-header-controls {
          .gt-header-controls-tip {
            color: @colorPrimary;
            .gt-svg {
              svg {
                fill: @colorPrimary;
              }
            }
          }
          .gt-btn-public, .gt-btn-login {
            background-color: @colorPrimary;
            border-color: @colorPrimary;
          }
          .gt-btn-preview {
            color: @colorPrimary;
            border-color: @colorPrimary;
          }
        }
      }
    }

    .gt-comments {
      .gt-comment-content {
        .gt-comment-header {
          .gt-comment-username {
            color: @colorPrimary;
          }

          .gt-comment-reply, .gt-comment-like, .gt-comment-edit {
            .gt-svg {
              svg {
                fill: @colorPrimary;
              }
            }
          }
        }
      }
    }

    .gt-no-init {
      a {
        color: @colorPrimary;
      }
      .gt-btn-login {
        background-color: @colorPrimary;
        border-color: @colorPrimary;
      }
    }
  }
}